registry=https://arm.seli.gic.ericsson.se/artifactory/api/npm/proj-e-uisdk-npm/
always-auth = true
@eui:registry=https://arm.seli.gic.ericsson.se/artifactory/api/npm/proj-e-uisdk-npm-local/
@eds:registry=https://arm.rnd.ki.sw.ericsson.se/artifactory/api/npm/proj-eds-npm-local/
